.reviews{
    min-height: 670px;
    padding-top: 120px;
    .review-info-wrapper{
        margin-left:120px;
    }
    &-slider{
        
        .reviews-card-wrapper{
                
                margin: 36px 104px 32px 120px;
                overflow: hidden;
            .slider-wrapper{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transition: '0,5s all';
            }
        }
        .dots{
            // margin-top: 32px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items:center;
            
            .dot{
                display: block;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                margin-right: 8px;
                background-color: #fff;
                user-select: none;
                cursor: pointer;
                &:hover{
                    @media (hover: hover) {
                        box-shadow: 0px 1px 14px  rgba(58, 134, 255, 1);
                        background-color: #3a86ff;
                    
                        
                      }
                    
                }
            }
            .active{
                border-radius: 5px;
                width: 51px;
                box-shadow: 0px 1px 14px  rgba(58, 134, 255, 1);
                background-color: #3a86ff;
                
            }
        }
    }
}

