.reviews{
    min-height: 670px;
    padding-top: 120px;
    .review-info-wrapper{
        margin-left:120px;
    }
    &-slider{
        
        .reviews-card-wrapper{
            margin: 36px 120px 32px 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .review-item{
                border-radius: 20px;
                width: 288px;
                height: 292px;
                backdrop-filter: blur(10px);
                background-color: #111;
                padding: 24px;
                .user-header{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .user-info{
                        margin-left: 16px;
                        .name{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            color: #fff;
                        }
                    }
                }
                .review-text{
                    height: 145px;
                    margin-top: 24px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 133%;
                    color: #fff;
                    overflow: hidden;
                }
                .card-footer{
                    margin-top: 20px;
                    font-weight: 300;
                    font-size: 9px;
                    line-height: 133%;
                    color: #949da8;
                }
            }
            
            
        }
        .dots{
            // margin-top: 32px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items:center;
            .dot{
                display: block;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                margin-right: 8px;
                background-color: #fff;
            }
            .active{
                border-radius: 5px;
                width: 51px;
            }
        }
    }
}
