
.app {
    background-color: #1B1B1B;
    .container{
        z-index: 2;
        position: relative;
        display: block;
        max-width: 1440px;
        min-height: 800px;
        margin: 0 auto;
        &-union-circles{
            z-index: -1;
            display: block;
            position: absolute;
            left: -155px;
            top: -10px;
            height: 800px;
        }
    }
   
}

@media (max-width: 1240px) {
    .header{
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 1240px) {
    .container{
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 992px) {
    .app {
        .container{
            &-union-circles{
                left: -200px;
            }
        }
    }
}

@media (max-width: 900px) {
    .app {
        .container{
            &-union-circles{
                left: -38%;
            }
        }
    }
}

@media (max-width: 768px) {
    .app {
        .container{
            &-union-circles{
                
                width: 135%;
                height: auto;
            }
        }
    }
}






