.binanceWrapper{
    padding: 132px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .binanceAdvLogo{
        width: 180px;
        height: 36px;
        
    }
}