.how-it-works{
    position: relative;
    min-height: 805px;
    padding-top: 34px;
    z-index: 2;
    .union-circles-pic{
        margin-top: 34px;
        position: absolute;
        margin-left: 707px;
        height: 670px;
        z-index: -1;
    }
    .how-it-works-header{
        margin-left: 120px;
    }
    .grid-wrapper{
        margin: 36px 120px 126px 120px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 263px);
        gap: 16px;
        justify-content: center;
        align-content: center;
        grid-auto-flow: dense;
        
       
    }
}
