.how-it-works{
    position: relative;
    min-height: 805px;
    padding-top: 34px;
    z-index: 2;
    .union-circles-pic{
        margin-top: 34px;
        position: absolute;
        margin-left: 47%;
        height: 670px;
        z-index: -1;
    }

    .grid-wrapper{
        margin: 36px 120px 126px 120px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 263px);
        gap: 16px;
        justify-content: center;
        align-content: center;
        grid-auto-flow: dense;
    }
}

@media (max-width: 1400px) {
    .how-it-works{
        .union-circles-pic{
            margin-left: 40%;
        }
    }
}

@media (max-width: 1200px) {
    .how-it-works{
        .union-circles-pic{
            margin-left: 28%;
        }
    }
}

@media (max-width: 992px) {
    .how-it-works{
        margin-bottom: 20px;
        .union-circles-pic{
            margin-left: 1%;
        }
        .grid-wrapper{
            gap: 8px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
    
}

@media (max-width: 768px) {
    .how-it-works{
        .union-circles-pic{
            width: 100%;
            height: auto;
        }
        .grid-wrapper{
            margin: 36px 50px 126px 50px;
        }
    }
}

@media (max-width: 414px) {
    .how-it-works{
        .union-circles-pic{
            width: 100%;
            height: auto;
        }
        .grid-wrapper{
            margin: 36px 5px 126px 5px;
        }
    }
}