.form-card-done{
    h2{
        margin-top: 0px;
    }
    border-radius: 20px;
    width: 592px;
    height: 180px;
    background-color: #111;
    padding: 36px 41px 36px 41px;
    text-align: center;
}