.header{
    padding-top: 30px;
    height: 85px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    background-color: rgba(27, 27, 27, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    &-burger{
        height: 300px;
    }
    .navbar{
      
        user-select: none; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin: 0 auto;
        .logo-wrapper{
            width: 82px;
            height: 24px;
            img{
                opacity: 1;
            }
        }
        .nav-links{
            height: 30px;
            margin-top: 4px;
            width: 612px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &-burger{
                height: 200px;
                position: absolute;
                top: 80px;
                
            }
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .link {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: #d1d5db;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    &-active {
                        color: #3a86ff;
                        &:after{
                            content: '';
                            margin-top: 8px;
                            display: block;
                            width:100%;
                            height: 2px;
                            background-color: #3a86ff;
                           
                        }
                    }
                }
                .faq{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 143%;
                    color: #d1d5db;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    border: 2px solid #ccc;
                    padding: 1px 5px;
                    margin-top: -4px;
                    border-radius: 5px;
                    &:hover {
                        @media (hover: hover) {
                            background-color: #2563eb; /* Темнее при наведении */
                            transform: scale(1.05); /* Небольшое увеличение */
                            transition: all 0.3s ease;
                        }
                        
                    }
                    &-active{
                        padding-left: 2px;
                         &::before{
                            content: "\25C4";
                            margin-right: 2px;
                        }
                        &:hover {
                            @media (hover: hover) {
                                background-color: #2563eb; /* Темнее при наведении */
                                transform: scale(1.05); /* Небольшое увеличение */
                                transition: all 0.3s ease;
                            }
                            
                        }
                       
                    }
                }
               
            }
            
        }
        .language-selector{
            
            .selection{
                cursor: pointer;
                background-color: rgba(27, 27, 27, 0.01);
                outline: none;
                border: none;
                color: white;
                padding: 10px;
                border-radius: 10px;
                option{
                    font-weight: 600;
                    background-color: rgba(27, 27, 27);
                    
                }
                
            }
            &-burger{
                position: absolute;
                bottom: 20px;
                margin-left: 10px;
                right: 20px;
            }
        }
        .hide{
            display: none;
        }
    }
    
   
}
.burgerBtn{
    span{
        margin-top: 5px;
        display: block;
        width: 45px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
    }
    &-active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg); /* Верхняя полоска становится диагональной */
    }
    
    &-active  span:nth-child(2) {
        opacity: 0; /* Скрываем среднюю полоску */
    }
    
    &-active  span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); 
    }
}



@media (max-width: 1200px) {
    .header{
        .navbar{
            width: 100%;
        }
        
    }
}

@media (max-width: 992px) {
    .header{
        .navbar{
            .nav-links{
                width: 70%;
                
            }
        }
    }
}

@media (max-width: 768px) {
    .header{
        backdrop-filter: blur(20px);
        .navbar{
            .nav-links{
                flex-direction: column;
                li{
                    font-size: 15px;
                    line-height: 200%;
                    .link{ 
                        font-size: 18px;
                        font-weight: 600;
                        &-active{
                            color: #3a86ff;
                            &:after{
                                content: '';
                                margin-top: -2px;
                               
                            }
                        }
                    }
                    .faq{
                        font-weight: 600;
                        font-size: 20px;
                        // padding: -1px, 5px;
                        margin-top: 0px;
                        &-active{
                             &::before{
                                content: "\25B2";
                            }
                        }
                    }
                }
                
            }
            .language-selector{
                .selection{
                    padding: 0px;
                }
            }
        }
    }
}