.blue-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #3a86ff;
    text-decoration: none;
}
h2{
    margin-top: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #fff;
}
.text-header{
    margin-left: 120px;
}
.line{
    border: 1px solid #484848;
    max-width: 1196px;
    height: 2px;
    margin: 0 auto;
    margin-top: 18px;
}
@media (max-width: 768px) {
    .text-header{
        margin-left: 0px;
    }
    .blue-text{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    h2{
        display: block;
        text-align: center;
        margin: 16px auto;
    }
    .line{
        margin-top: 30px;
        &-burger{
            margin-top: 246px; 
        }
    }
}