.contacts{
    min-height: 700px;
    padding-top: 65px;
    hr{
        margin-top: 67px;
    }
    .footer_text{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #949da8;
        text-align: center;
        margin-top: 17px;
    }
    .contacts-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 17px; 
        max-width: 1200px;
        margin: 0 auto;
        .contact-card{
            position: relative;
            border-radius: 20px;
            width: 100%;
            height: 482px;
            background-color: #111;
            overflow: hidden;
            z-index: 2;
            .contact-union-circles{
                height: 820px;
                position: absolute;
                rotate: 20deg;
                top: -360px;
                left: -476px;
                z-index: -1;
            }
           
        }
        .socialmedia-wrapper{
            margin-top: 420px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 32px;
            margin-left: 40px;
            position: absolute;
            z-index: 2;
            .social-logo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
                margin-right: 60px;
                img{
                    margin-right: 16px;
                }
            }
            
            .social-media-text{
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: #fff;
                
            }
        }
        
    }
}

@media (max-width: 992px) {
    .contacts{
        .contacts-wrapper{
            .contact-card{
                
            }
            .socialmedia-wrapper{
                margin-left: 30px;
            }
            
        }
    }
}

@media (max-width: 768px) {
    .contacts{
        padding-top: 0px;
        .contacts-wrapper{
            display: flex;
            flex-direction: column;
            width:90%;
            
            .contact-card{
                display: none;
            }
            .socialmedia-wrapper{
                margin-left: 0px;
                position: static;
                order: 2;
                justify-content: space-around;
                margin-top: 30px;
                align-items: center;
                margin: 10px 100px 10px 100px;
                .social-logo{
                    margin-right: 0px;
                    img{
                        margin-right: 10px;
                    }
                }
            }
            
        }
    }
}

@media (max-width: 576px) {
    .contacts{
        .contacts-wrapper{
            .contact-card{
            }
            .socialmedia-wrapper{
                margin: 10px 0px 10px 0px;
            }
        }
    }
}